<div style="display: flex">
    <div class="example-button-container">
        <button mat-mini-fab color="warn" 
                class="botao"
                aria-label="Example icon button with a filter list icon"
                (click)="decrementar()"> - </button>
      </div>

    <p style="margin-top: 5px; margin-left: 7px; margin-right: 7px;">{{quantidade}}</p> 

    <div class="example-button-container">
        <button mat-mini-fab color="primary" 
                class="botao"
                aria-label="Example icon button with a filter list icon"
                (click)="incrementar()"> + </button>   
    </div>

</div>

