<mat-card class="card">
    <mat-card-header>
 
    <mat-card-title>{{Comentario.titulo}}</mat-card-title>
      <mat-card-subtitle>{{Comentario.nome}} em {{Comentario.dataPublicacao | date: 'dd/MM/yyyy hh:mm a'}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p style="margin-left: 30px">{{Comentario.mensagem}}</p>
    </mat-card-content>

    <mat-card-actions *ngIf="MostrarOpcoes()" align="end">
      <button mat-button (click)="AlterarComentario()">Alterar</button>
      <button mat-flat-button color="warn" (click)="DeletarComenario()">Excluir</button>
    </mat-card-actions>
</mat-card>