<form [formGroup]="formulario" *ngFor="let endereco of enderecos">
  <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
    <mat-label>Endereço</mat-label>
    <input type="text" matInput [value]="endereco" formControlName="enderecoNome">
  </mat-form-field>
</form>

<div class="row" style="margin-top: 20px;">
    <div class="col-sm-10">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Endereços</mat-label>
        <input matInput [formControl]="endereco">
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <button mat-button 
              color="primary"
              style="height: 50px; width: 100%;"
              (click)="EmitirNovoEndereco()">Adicionar endereço</button>
    </div>
</div>