<table mat-table [dataSource]="rendas" style="width: 100%;">

  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let linha"> {{linha.descricao}} </td>
    <td mat-footer-cell *matFooterCellDef> <b>Total</b> </td>
  </ng-container>


  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let linha"> {{linha.valor | currency}} </td>
    <td mat-footer-cell *matFooterCellDef> <b> {{SomaRenda() | currency}} </b> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['descricao','valor']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['descricao','valor'];"></tr>
  <tr mat-footer-row *matFooterRowDef="['descricao','valor']"></tr>
</table>

<div class="row" style="margin-top: 20px;">
    <div class="col-sm-8">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Descrição</mat-label>
        <input matInput [formControl]="descricaoRenda">
      </mat-form-field>    
    </div>
    <div class="col-sm-4">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Valor</mat-label>
        <input matInput [formControl]="valorRenda">
      </mat-form-field>
    </div>
</div>

<button mat-button 
        color="primary"
        class="ml-auto"
        (click)="AdicionarRenda()">Adicionar renda</button>